@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');
body{
    background-color:#11472D ;
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: grey;
    width: 100%;
    height: 90px;
    position: sticky;
    top:0;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
#loginbutton {
    width: 50px;
    height: 50px;
}
a:active {
    color: darkblue;
}
#topleft-icon{
    height:70px;
    width:70px;
    left: 10px;
}
.content{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.about{
    width: 90px;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact{
    width: 90px;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chooseus{
    width: 90px;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
.topnav input[type=text] {
    border: 1px solid #ccc;
}
.searchbar{
    position:absolute;
    top:30px;
    right: 150px;
    height: 35px;
    width: 150px;
}
.i13promax{
    background-color: white;
    position: absolute;
    width: 195px;
    height: 275px;
    left: 50px;
    top: 210px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
}
.i13pro{
    background-color: white;
    position: absolute;
    width: 195px;
    height: 275px;
    left: 380px;
    top: 210px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
}
.i13normal{
    background-color: white;
    width: 195px;
    height: 275px;
    left: 710px;
    position: absolute;
    top:210px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
}
.i13mini{
    background-color: white;
    position: absolute;
    width: 195px;
    height: 275px;
    left: 1040px ;
    top: 210px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
}
#i13promaxbtn .box
{
 background-color:#0e93ff;
 transition: all 0.35s ease;
 border-radius:15px;
 position: absolute;
 width: 140px;
 height: 30px;
 top: 480px;
 left: 103px;
}

#i13probtn .box
{
 background-color:#0e93ff;
 transition: all 0.35s ease;
 border-radius:15px;
 position: absolute;
 width: 140px;
 height: 30px;
 top: 480px;
 left: 433px;
}
#i13normalbtn .box
{
 background-color:#0e93ff;
 transition: all 0.35s ease;
 border-radius:15px;
 position: absolute;
 width: 140px;
 height: 30px;
 top: 480px;
 left: 763px;
}
#i13minibtn .box
{
 background-color:#0e93ff;
 transition: all 0.35s ease;
 border-radius:15px;
 position: absolute;
 width: 140px;
 height: 30px;
 top: 480px;
 left: 1093px;
}
#i13info{
    position: absolute;
    top: 160px;
    left: 305px;
    color: white;
    font-family: 'Fredoka', sans-serif;
}

.i12promax{
    background-color: white;
    position: absolute;
    width: 195px;
    height: 275px;
    left: 50px ;
    top: 610px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
}
.i12pro{
    background-color: white;
    position: absolute;
    width: 195px;
    height: 275px;
    left: 380px ;
    top: 610px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
}
.i12normal{
    background-color: white;
    position: absolute;
    width: 195px;
    height: 275px;
    left: 710px ;
    top: 610px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
}
.i12mini{
    background-color: white;
    position: absolute;
    width: 195px;
    height: 275px;
    left: 1040px ;
    top: 610px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
}
#i12promaxbtn .box
{
 background-color:#0e93ff;
 transition: all 0.35s ease;
 border-radius:15px;
 position: absolute;
 width: 140px;
 height: 30px;
 top: 880px;
 left: 103px;
}
#i12probtn .box
{
 background-color:#0e93ff;
 transition: all 0.35s ease;
 border-radius:15px;
 position: absolute;
 width: 140px;
 height: 30px;
 top: 880px;
 left: 433px;
}
#i12normalbtn .box
{
 background-color:#0e93ff;
 transition: all 0.35s ease;
 border-radius:15px;
 position: absolute;
 width: 140px;
 height: 30px;
 top: 880px;
 left: 763px;
}
#i12minibtn .box
{
 background-color:#0e93ff;
 transition: all 0.35s ease;
 border-radius:15px;
 position: absolute;
 width: 140px;
 height: 30px;
 top: 880px;
 left: 1093px;
}
