@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@media only screen and (min-width: 576px) and (max-width: 5767px) { 

body{
    background-color:#11472D ;
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: grey;
    width: 100%;
    height: 90px;
    position: sticky;
    top:0;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
#loginbutton {
    width: 50px;
    height: 50px;
}
a:active {
    color: darkblue;
}
#topleft-icon{
    height:70px;
    width:70px;
    left: 10px;
}
.content{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.about{
    width: 90px;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact{
    width: 90px;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chooseus{
    width: 90px;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
.topnav input[type=text] {
    border: 1px solid #ccc;
}
.searchbar{
    position:absolute;
    top:30px;
    right: 150px;
    height: 35px;
    width: 150px;
}
.i13promax{
    background-color: white;
    position: absolute;
    width: 195px;
    height: 275px;
    left: 50px;
    top: 210px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
}
.s22plus{
    background-color: white;
    position: absolute;
    width: 195px;
    height: 275px;
    left: 380px;
    top: 210px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
}
.mi11ultra{
    background-color: white;
    width: 195px;
    height: 275px;
    left: 710px;
    position: absolute;
    top:210px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
}
.p50pro{
    background-color: white;
    position: absolute;
    width: 195px;
    height: 275px;
    left: 1040px ;
    top: 210px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
}
#i13promaxbtn .box
{
 background-color:#0e93ff;
 transition: all 0.35s ease;
 border-radius:15px;
 position: absolute;
 width: 140px;
 height: 30px;
 top: 490px;
 left: 103px;
}

#s22plusbtn .box
{
 background-color:#0e93ff;
 transition: all 0.35s ease;
 border-radius:15px;
 position: absolute;
 width: 140px;
 height: 30px;
 top: 490px;
 left: 433px;
}
#mi11ultrabtn .box
{
 background-color:#0e93ff;
 transition: all 0.35s ease;
 border-radius:15px;
 position: absolute;
 width: 140px;
 height: 30px;
 top: 490px;
 left: 763px;
}
#p50probtn .box
{
 background-color:#0e93ff;
 transition: all 0.35s ease;
 border-radius:15px;
 position: absolute;
 width: 140px;
 height: 30px;
 top: 490px;
 left: 1093px;
}
.i12promax{
    background-color: white;
    position: absolute;
    width: 195px;
    height: 275px;
    left: 50px ;
    top: 610px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
}
.i12pro{
    background-color: white;
    position: absolute;
    width: 195px;
    height: 275px;
    left: 380px ;
    top: 610px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
}
.i12normal{
    background-color: white;
    position: absolute;
    width: 195px;
    height: 275px;
    left: 710px ;
    top: 610px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
}
.i12mini{
    background-color: white;
    position: absolute;
    width: 195px;
    height: 275px;
    left: 1040px ;
    top: 610px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
}
#i12promaxbtn .box
{
 background-color:#0e93ff;
 transition: all 0.35s ease;
 border-radius:15px;
 position: absolute;
 width: 140px;
 height: 30px;
 top: 890px;
 left: 103px;
}
#i12probtn .box
{
 background-color:#0e93ff;
 transition: all 0.35s ease;
 border-radius:15px;
 position: absolute;
 width: 140px;
 height: 30px;
 top: 880px;
 left: 433px;
}
#i12normalbtn .box
{
 background-color:#0e93ff;
 transition: all 0.35s ease;
 border-radius:15px;
 position: absolute;
 width: 140px;
 height: 30px;
 top: 880px;
 left: 763px;
}
#i12minibtn .box
{
 background-color:#0e93ff;
 transition: all 0.35s ease;
 border-radius:15px;
 position: absolute;
 width: 140px;
 height: 30px;
 top: 880px;
 left: 1093px;
}
#newphones{
    font-family: 'Anton', sans-serif;
font-size: 5em;
position: absolute; top: 15px; left: 650px;
color: white;
}
#i13promaxprice{
    font-size: large;
    position: absolute;
    top: 447px;
    left: 133px;
}
#s22plusprice{
    font-size: large;
    position: absolute;
    top: 447px;
    left: 475px;
}
#mi11ultraprice{
    font-size: large;
    position: absolute;
    top: 447px;
    left: 805px;
}
#p50proprice{
    font-size: large;
    position: absolute;
    top: 447px;
    left: 1130px;
}
.aboutusbtn {
    background-color: DodgerBlue; 
    border: none; 
    color: white;
    padding: 12px 16px; 
    font-size: 16px; 
    cursor: pointer; 
    text-decoration: none;
  }
  
  .aboutusbtn:hover {
    background-color: royalblue;
    text-decoration: none;
  }
  .contactusbtn {
    background-color: DodgerBlue; 
    border: none; 
    color: white;
    padding: 12px 16px; 
    font-size: 16px; 
    cursor: pointer; 
    text-decoration: none;
  }
  
  .contactusbtn:hover {
    background-color: royalblue;
    text-decoration: none;
  }
  .wcusbtn {
    background-color: DodgerBlue; 
    border: none; 
    color: white;
    padding: 12px 16px; 
    font-size: 16px; 
    cursor: pointer; 
    text-decoration: none;
  }
  
  .wcusbtn:hover {
    background-color: royalblue;
    text-decoration: none;
  }

.homebtn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .homebtn:hover {
    background-color: RoyalBlue;
  }









}